@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #242a28; */
  background:#EFEBD8; /* #E9E4D4; /*#EDE6D6; /*#F0E9D6 ;/* radial-gradient(#E1D9D1,#E9E4D4);  /*radial-gradient(#927450,#835C3B); /* radial-gradient(#835C3B,#C19A6B);/*#835C3B; /* radial-gradient(#303b37, #1a1f1d); */
  color: white; /* #e1eeeb; */
}
